/* Import Google Fonts */
@import url("//fonts.googleapis.com/css2?family=Hind:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

/* Heading */
h1{
 font-family:"Hind", sans-serif !important;
 font-weight:700;
 font-size:100px;
 margin-bottom:10px;
 background-color:rgba(211,211,211,0.51);
 backdrop-filter:blur(5.74px);
}

/* Body */
body{
 text-align:center;
 font-family:"Hind", sans-serif;
 font-weight:300;
 background-image:url("https://images.unsplash.com/photo-1623018035782-b269248df916?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwzNTc5fDB8MXxzZWFyY2h8MXx8ZXJyb3J8ZW58MHx8fHwxNjYwNzU1ODE4&ixlib=rb-1.2.1&q=80&w=2560");
 background-size:contain;
}

/* Heading */
h3{
 transform:translatex(0px) translatey(-110px);
 font-weight:500;
 font-size:24px;
}

/* Link */
h3 a{
 text-decoration:none;
 color:#3f3e55;
}


/* No code beyond here! */
