/* Image */
nav a img{
 display:inline-block;
 height:28px;
 transform:translatex(0px) translatey(4px);
 position:relative;
 top:2px;
}

/* Navigation */
nav{
 transform:translatex(0px) translatey(0px);
 font-family:"SanFrancisco";
 text-decoration:none;
 text-align:left;
 direction:ltr;
 background-color:#bcbcbc;
 height:33px;
}

/* Body */
body{
 background-image:url("https://images.unsplash.com/photo-1560595643-90bb555b2eaa?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwzNTc5fDB8MXxzZWFyY2h8MXx8YnVkZ2llfGVufDB8fHx8MTY2MDYxMjQ5Mw&ixlib=rb-1.2.1&q=80&w=2560");
}


/* Fonts */

@font-face {
  font-family: SanFrancisco;
  src: url(SF-Pro-Display-Semibold.otf);
  font-weight: normal;
 
}

@font-face {
  font-family: SanFrancisco;
  src: url(SF-pro-Display-Heavy.otf);
  font-weight: 700;
}
/* No CSS Beyond Here */
