/* Image */
nav a img{
 display:inline-block;
 height:28px;
 transform:translatex(0px) translatey(4px);
 position:relative;
 top:2px;
}

/* Navigation */
nav{
 transform:translatex(0px) translatey(0px);
 font-family:"Hind";
 text-decoration:none;
 text-align:left;
 direction:ltr;
 background-color:#bcbcbc;
 height:33px;
}

/* Body */
body{
 margin-top:0px;
 margin-left:0px;
 margin-right:0px;
 margin-bottom:0px;
 background-color:#0a0a0a;
}

/* Heading */
h1{
 font-family:"Hind";
 color:#c6c6c6;
 position:relative;
 top:-44px;
 font-size:45px;
 transform:translatex(0px) translatey(4px);
}

/* Heading */
h4{
 font-family:"Hind";
 font-weight:500;
 color:#c6c6c6 !important;
 position:relative;
 top:-92px;
 font-size:20px;
 transform:translatex(0px) translatey(4px);
}

/* Link */
nav a{
 position:relative;
 top:-3px;
 left:2px;
 text-decoration:none;
 color:#191919;
 font-weight:700;
 font-size:23px;
}


/*No Code Beyond Here/*
