/* Import Google Fonts */
@import url("//fonts.googleapis.com/css2?family=Heebo:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

/* Image */
nav a img{
 display:inline-block;
 height:28px;
 transform:translatex(0px) translatey(4px);
 position:relative;
 top:2px;
}

/* Navigation */
nav{
 transform:translatex(0px) translatey(0px);
 font-family:"Hind", sans-serif;
 text-decoration:none;
 text-align:left;
 direction:ltr;
 background-color:#bcbcbc;
 height:33px;
}

/* Body */
body{
 background-image:url("https://images.unsplash.com/photo-1560595643-90bb555b2eaa?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwzNTc5fDB8MXxzZWFyY2h8MXx8YnVkZ2llfGVufDB8fHx8MTY2MDYxMjQ5Mw&ixlib=rb-1.2.1&q=80&w=2560");
 backdrop-filter:blur(5.18px);
 background-size:cover;
 min-height:748px;
}

/* Heading */
h1{
 font-family:"Hind", sans-serif;
 color:#c6c6c6;
 position:relative;
 top:-44px;
 font-size:45px;
 transform:translatex(0px) translatey(4px);
}

/* Heading */
h4{
 font-family:"Hind", sans-serif;
 font-weight:500;
 color:#c6c6c6 !important;
 position:relative;
 top:-92px;
 font-size:20px;
 transform:translatex(0px) translatey(4px);
}

/* Link */
nav a{
 position:relative;
 top:-3px;
 left:2px;
 text-decoration:none;
 color:#191919;
 font-weight:700;
 font-size:23px;
}


/* Heading */
h2{
 position:relative;
 top:-74px;
 left:0px;
 font-family:"Hind", sans-serif;
 color:#c6c6c6;
}

/* Heading */
h4:nth-child(5){
 top:-113px;
}

/* Heading */
h2:nth-child(6){
 top:-134px;
}

/* Heading */
h4:nth-child(8){
 top:-172px;
}




/* No CSS Beyond Here */
