/* Heading */
h1{
 font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
 font-weight:700;
 transform:translatex(-8px) translatey(-31px);
 background-color:#ffffff;
 color:#5c008e;
 width:101% !important;
}

/* Heading */
h4{
 font-weight:400;
 transform:translatex(-8px) translatey(-40px);
 min-height:29px;
 font-size:16px;
 height:29px;
 margin-bottom:10px;
 color:#ffffff;
}

/* Navigation */
nav{
 text-decoration:none;
 font-size:24px;
 color:#ffffff;
 font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
 font-weight:600;
 min-height:37px;
 background-color:#ffffff;
 transform:translatex(-8px) translatey(-8px);
 width:101% !important;
}

/* Body */
body{
 background-color:#020202;
}

